%ul#files.row
  %li.title.file
    %div.filename.col-md-4.col-md-offset-2
      %h3 Ruby Filename
    %div.md5.col-md-6
      %h3 MD5 Hash
  - @rubies.sort.each do |filename, params|
    %li.file
      %div.filename.col-md-4.col-md-offset-2
        %a{:href => "#{ENV['HOST']}/rubies/#{params[:path_prefix]}#{filename}"} #{filename}
      %div.md5.col-md-6
        #{params[:md5]}
