%html
  %head
    %title RVM::FW - Hidden Rubies for RVM
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{'viewport' => 'width=device-width, initial-scale=1.0'}
    <link rel='icon' type='image/x-icon' href='https://utils-dev.adv.di2e.net/rvm-fw/favicon.ico' />
    %link{:href => "#{ENV['HOST']}/stylesheets/styles.css", :media => 'screen, projection', :type => 'text/css', :rel => 'stylesheet'}
    %link{:rel => 'icon', :type => 'image/x-icon', :href => "#{ENV['HOST']}/favicon.ico"}
    /[if lt IE 9]
      %script{:src => "#{ENV['HOST']}/javascripts/html5shiv.js"}
        %link{:rel => 'shortcut icon', :type => 'image/x-icon', :href => "#{ENV['HOST']}/favicon.ico"}

  %body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{:href => "#{ENV['HOST']}/"} RVM::FW
            %ul.nav
              %li
                %a{:href => "#{ENV['HOST']}/files"} Rubies
              %li
                %a{:href => "#{ENV['HOST']}/db", :target => '_blank' } DB
              %li
                %a{:href => "#{ENV['HOST']}/known", :target => '_blank' } Known

      .container
        %header
          %h1.title RVM::FW
          %h2.description Exposing hidden Rubies for firewalled RVMs

        %article
          = yield
      #push

    %footer#footer
      .container
        %p
          %a{:href => "#{ENV['FOOTER_URL']}"} #{ENV['FOOTER_TEXT']}

    %script{:src => "#{ENV['HOST']}/javascripts/jquery-1.9.1.min.js"}
    %script{:src => "#{ENV['HOST']}/javascripts/bootstrap-collapse.js"}
